#content{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#header a{
    text-decoration: none;
    color: rgb(0, 164, 209);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu{
    width: 1445px;
    height: 80px;
    line-height: 80px;
    border: 1px solid gainsboro;
    margin: 20px;
    padding-left:30px;
    font-size: large;
}


#menu{
    color: black;
    display:block;
    float: left;
    margin-top: 10;
  }

  #menu li{
    color: black;
    display: inline;
    padding-left:30px;
    margin-right: 20px;
  }
  #cartImage{
    position: absolute;
    width: 35px;
    height: 100px;
    right: 168px;
  }
  #itemCounter{
    position: absolute;
    right: 138px;
    top: 20px;
    color: rgb(0, 87, 209);
    text-transform: uppercase;
}
#orderTotal{
  color: rgb(0, 164, 209);
  font-weight: bold;
  position: absolute;
  right: 56px;
  top: 30px;
  text-transform: uppercase;
  font-size: small;
}


  #content{
    margin:20px;
      text-decoration: none;
  }
  #banner{
    background-color: rgb(0, 164, 209);
    color: white;
    width: 1445px;
    line-height: 80px;
    font-size: x-large;
    font-weight: bold;
    padding-left:30px;
    border: 1px solid gainsboro;
    float: left;
    text-align: center;
  }

  .intro{
    margin-left: 400px;
    margin-right: 400px;
    width: 600px;
    font-size: large;
  }

  .team {
    height : 400px;
    width: 300px;
    padding: 5px;
  }

.heather-tekst{
  width: 310px;
  height: 700px;
  margin: 20px;
  border: solid rgb(0, 164, 209);
  float: left;  
  padding: 5px;
}

.darchinou-tekst{
    width: 310px;
    height: 700px;
    margin: 20px;
    border: solid rgb(0, 164, 209);
    float: left;
    text-align: left;
    padding: 5px;
}
.erkan-tekst{
  width: 310px;
  height: 700px;
  margin: 20px;
  border: solid rgb(0, 164, 209);
  float: left;  
  text-align: left;
  padding: 5px;
}
.givan-tekst{
    width: 310px;
    height: 700px;
    margin: 20px;
    border: solid rgb(0, 164, 209);
    float: left;
    text-align: left;
    padding: 5px;
}
  


  
