#content{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#header a{
    text-decoration: none;
    color: rgb(0, 164, 209);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu{
    width: 1445px;
    height: 80px;
    line-height: 80px;
    border: 1px solid gainsboro;
    margin: 20px;
    padding-left:30px;
    font-size: large;
}


#menu{
    color: black;
    display:block;
    float: left;
    margin-top: 10;
  }

  #menu li{
    color: black;
    display: inline;
    padding-left:30px;
    margin-right: 20px;
  }
  #cartImage{
    position: absolute;
    width: 35px;
    height: 100px;
    right: 185px;
  }
  #itemCounter{
    position: absolute;
    right: 155px;
    top: 20px;
    color: rgb(0, 87, 209);
    text-transform: uppercase;
}
#orderTotal{
  color: rgb(0, 164, 209);
  font-weight: bold;
  position: absolute;
  right: 56px;
  top: 30px;
  text-transform: uppercase;
  font-size: small;
}

.topnav input[type=text] {
  padding: 6px;
  border-style: groove;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.button {
background-color: #3B9FE2;
border: none;
color: black;
padding: 14px 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 7px 2px;
cursor: pointer;
}

#gallerycontent{
  float: left;
  max-width: 1685px;
  padding: 10px 5px 5px 75px;
  text-align: justify;
}

#gallerycontent .galleryitem{
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  clear: both; display:inline-block

}
#gallerycontent img{
  float: left;
  width: 90%;
  height: 90%;
  margin: 2.5%;
}
#gallerycontent ul{
  padding-left: 50px;
  list-style-type:square;
}

#gallerycontent2{
  float: left;
  max-width: 1685px;
  padding: 80px 5px 5px 75px;
  text-align: justify;
}

#gallerycontent2 .galleryitem2{
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  clear: both; display:inline-block
}
#gallerycontent2 img{
  float: left;
  width: 90%;
  height: 90%;
  margin: 2.5%;
}
#gallerycontent2 ul{
  padding-left: 50px;
  list-style-type:square;
}
a{  text-decoration: none!important;
  color: black;
}

  
.onder{
  text-align: center;
  margin: 20px;
  margin-top: 50px;
  padding-left:30px;
}

.menu-footer{
  color: black;
  background-color: transparent;
  text-decoration: none;
  
}

.menu-overig{
  color: black;
  background-color: transparent;
}

#footerlist li{
  color: black;
  display: inline;
  padding-left:30px;
  margin-right: 20px;
}
